HW4-1 Pycarat to compare ML agorithms on classification problem 16 Model (multi-features titanic is ok , )

In [1]:
import pandas as pd
from pycaret.classification import *

# 加載 Titanic 資料
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# ====================
# **特徵工程**
# ====================

# FamilySize 特徵
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

# Title 特徵
train['Title'] = train['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test['Title'] = test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
title_mapping = {
    "Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs",
    "Master": "Master", "Dr": "Rare", "Rev": "Rare",
    "Col": "Rare", "Major": "Rare", "Mlle": "Miss",
    "Countess": "Rare", "Ms": "Miss", "Lady": "Rare",
    "Jonkheer": "Rare", "Don": "Rare", "Dona": "Rare",
    "Mme": "Mrs", "Capt": "Rare", "Sir": "Rare"
}
train['Title'] = train['Title'].map(title_mapping)
test['Title'] = test['Title'].map(title_mapping)

# 填補缺失值
train['Age'].fillna(train.groupby('Title')['Age'].transform('median'), inplace=True)
test['Age'].fillna(test.groupby('Title')['Age'].transform('median'), inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)
test['Fare'].fillna(test['Fare'].median(), inplace=True)

# 刪除無用特徵
train.drop(['Cabin', 'Ticket', 'Name'], axis=1, inplace=True)
test.drop(['Cabin', 'Ticket', 'Name'], axis=1, inplace=True)

# =====================
# **PyCaret 模型構建**
# =====================

# 初始化 PyCaret 環境
clf_setup = setup(
    data=train,
    target='Survived',
    session_id=123,
    numeric_features=['Age', 'Fare', 'SibSp', 'Parch', 'FamilySize'],
    categorical_features=['Sex', 'Embarked', 'Title']
)

# 比較多種模型，至少 16 個
best_model = compare_models(n_select=16)  # 返回性能最佳的 16 個模型

# ===========================
# **輸出模型比較結果**
# ===========================
# 查看模型比較的性能表格
print("模型比較結果：")
print(pull())  # 提取並顯示比較表格

# ===========================
# **測試數據預測（可選）**
# ===========================
# 使用性能最佳的模型進行測試數據預測
final_model = finalize_model(best_model[0])  # 選取第一個最佳模型
test_predictions = predict_model(final_model, data=test)

# 儲存提交結果
submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': test_predictions['prediction_label']
})
submission.to_csv('submission_hw4_1.csv', index=False)

模型比較結果：
                                    Model  Accuracy     AUC  Recall   Prec.  \
gbc          Gradient Boosting Classifier    0.8297  0.8416  0.7362  0.8048
lr                    Logistic Regression    0.8281  0.8636  0.7571  0.7864
ridge                    Ridge Classifier    0.8232  0.8637  0.7486  0.7804
lda          Linear Discriminant Analysis    0.8232  0.8627  0.7486  0.7804
rf               Random Forest Classifier    0.8169  0.8471  0.7279  0.7859
nb                            Naive Bayes    0.8072  0.8319  0.7402  0.7540
lightgbm  Light Gradient Boosting Machine    0.7993  0.8289  0.6694  0.7788
ada                  Ada Boost Classifier    0.7976  0.8376  0.7239  0.7395
et                 Extra Trees Classifier    0.7849  0.8366  0.7072  0.7313
dt               Decision Tree Classifier    0.7029  0.6936  0.6529  0.6059
dummy                    Dummy Classifier    0.6164  0.5000  0.0000  0.0000
knn                K Neighbors Classifier    0.6163  0.5863  0.3438  0.5027
qda       Quadratic Discriminant Analysis    0.6036  0.6892  0.6654  0.5262
svm                   SVM - Linear Kernel    0.5961  0.6223  0.3004  0.4185

              F1   Kappa     MCC  TT (Sec)
gbc       0.7665  0.6334  0.6370     0.030
lr        0.7687  0.6324  0.6354     0.387
ridge     0.7617  0.6217  0.6243     0.014
lda       0.7617  0.6217  0.6243     0.015
rf        0.7534  0.6083  0.6116     0.047
nb        0.7442  0.5898  0.5929     0.013
lightgbm  0.7162  0.5632  0.5696     0.076
ada       0.7260  0.5670  0.5714     0.025
et        0.7150  0.5430  0.5467     0.039
dt        0.6245  0.3802  0.3845     0.014
dummy     0.0000  0.0000  0.0000     0.013
knn       0.4027  0.1378  0.1446     0.197
qda       0.5510  0.2216  0.2454     0.014
svm       0.2675  0.0879  0.1141     0.013

HW4-2 對 model optimization using pycarat or optuna or other AutoML,meta-heuristic
  1. Feature engineering, 2. model selection (ensemble), 3 . training 超參數優化

In [2]:
import pandas as pd
from pycaret.classification import *

# 加載 Titanic 資料
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# ====================
# **特徵工程**
# ====================
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

train['IsAlone'] = ((train['SibSp'] + train['Parch']) == 0).astype(int)
test['IsAlone'] = ((test['SibSp'] + test['Parch']) == 0).astype(int)

train['FareBin'] = pd.qcut(train['Fare'], 4, labels=False)
test['FareBin'] = pd.qcut(test['Fare'], 4, labels=False)

train['AgeBin'] = pd.cut(train['Age'], bins=[0, 12, 20, 40, 60, 80], labels=False)
test['AgeBin'] = pd.cut(test['Age'], bins=[0, 12, 20, 40, 60, 80], labels=False)

train['Title'] = train['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test['Title'] = test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
title_mapping = {
    "Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs", "Master": "Master", "Dr": "Rare", "Rev": "Rare"
}
train['Title'] = train['Title'].map(title_mapping)
test['Title'] = test['Title'].map(title_mapping)

train['Age'].fillna(train.groupby('Title')['Age'].transform('median'), inplace=True)
test['Age'].fillna(test.groupby('Title')['Age'].transform('median'), inplace=True)
test['Fare'].fillna(test['Fare'].median(), inplace=True)

train.drop(['Cabin', 'Ticket', 'Name'], axis=1, inplace=True)
test.drop(['Cabin', 'Ticket', 'Name'], axis=1, inplace=True)

# =====================
# **PyCaret 模型構建**
# =====================
clf_setup = setup(
    data=train,
    target='Survived',
    session_id=123,
    numeric_features=['Age', 'Fare', 'SibSp', 'Parch', 'FamilySize', 'FareBin', 'AgeBin'],
    categorical_features=['Sex', 'Embarked', 'Title'],
    fold_strategy='stratifiedkfold',
    fold=10
)

# 比較模型並選擇最佳模型
best_model = compare_models()

# 調優最佳模型
tuned_model = tune_model(best_model, optimize='AUC', n_iter=100)

# 模型集成
blended_model = blend_models([tuned_model, best_model])
stacked_model = stack_models([tuned_model, best_model])

# 測試數據預測
final_model = finalize_model(stacked_model)
test_predictions = predict_model(final_model, data=test)

# 儲存結果
submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': test_predictions['prediction_label']
})
submission.to_csv('submission_hw4_2.csv', index=False)

Fitting 10 folds for each of 100 candidates, totalling 1000 fits